<!DOCTYPE html>
<html>
<head>
  <title>Rhea</title>
  <%= stylesheet_link_tag    "rhea/application", media: "all" %>
  <%= javascript_include_tag "rhea/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
